.leftBar .ant-list-item-meta-content {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.projectList .ant-list-item-action>li {
    width: 100%;
}

.ant-tabs-nav .ant-tabs-tab {
    margin: 0 0 0 32px;
}

.leftBar .projectList .ant-list-item-meta {
    margin-bottom: 0px;
}

.leftBar .ant-progress-success-bg {
    background-color: #81d4fa;
}

.notifyAffairsContent {
    -webkit-line-clamp: 3;
}

.voteNotifyAffairsContent {
    -webkit-line-clamp: 5;
}

.indexPage .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
}

.NotifyAffairs .ant-card-bordered {
    border-top: none;
}