.greenBtn {
    background: #4CAF50;
    border-color: #4CAF50;
}

.lj_green_btn:hover {
    border-color: #4CAF50;
    color: #4CAF50;
}

.lj_green_btn:focus {
    border-color: #4CAF50;
    color: #4CAF50;
}

.greenBtn:hover {
    background: #4CAF50;
    border-color: #4CAF50;
}

.greenBtn:focus {
    background: #4CAF50;
    border-color: #4CAF50;
}

.ant-progress-bg {
    background: #4CAF50;
}